
<section id="signup" class="theme-callout" style="background-image: url({{ '/assets/img/content/teachers_page_header.jpg' | relative_url }})">
  <div class="color-overlay"></div>
  <div class="container">
    <h2>Meehelpen?</h2>
    <p>
      We zoeken hulp. Een community werkt als er mensen meehelpen en meedenken. Je kunt ons helpen door in een regionale gebruikersgroep of door mee te werken in een themagroep. Meer informatie en direct aanmelden kan met onderstaande knop.
    <div class="action">
      <a href="{{ '/lid-worden' | relative_url }}" class="btn btn-lg btn-light">Meer info &raquo;</a>
    </div>
  </div>
</section>
